#header {
  display: inherit;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 15vh;
  background-color: #1E272E;
  color: #fff;
  margin-bottom: 3rem;
}

#header h1 {
  width: 20vw;
  text-align: center;
  font-size: 1.2rem;
  color: #e8e6e3;
}

#header input {
  width: 35vw;
  border: .3em solid rgb(140, 130, 115);
  background-color: #2b2a33;
  color: #e8e6e3;
  border-radius: 25px;
  padding: 1em;
}

#header span {
  width: 20vw;
}

#header #account {
  width: 25vw;
  align-items: center;
  justify-content: flex-end;
  display: inherit;
  gap: 1em;
}

#header #account .profilePic {
  height: 7vh;
  aspect-ratio: 1;
  border-radius: 15px;
  object-fit: cover;
}

#header #account button {
  padding: .5em 1em;
  background-color: #34495E;
  color: #fff;
  border-color: rgb(140, 130, 115);
}



#header #account input[type="checkbox"] {
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  top: 15vh;
  margin: 0;
  right: 0;
  width: 15vw;
  border: 5px solid #1E272E;
  border-top: none;
  padding: 0;
  z-index: 1;
}

.dropdown:checked~ul {
  display: block;
}

.dropdown-content {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  list-style: none;
}

.dropdown-content a {
  display: block;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

#account .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  gap: 1rem;
}

#account .buttons .icons {
  height: 5vh;
}

#bars {
  display: block;
}

#cross {
  display: none;
}

.dropdown:checked+label #bars {
  display: none;
}

.dropdown:checked+label #cross {
  display: block;
}