#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 8rem;
  background-color: #1E272E;
  color: #fff;
  margin-bottom: 3rem;
}

#header h1 {
  width: 20vw;
  text-align: center;
  font-size: 1.2rem;
  color: #e8e6e3;
}

#header input {
  width: 35vw;
  border: .3em solid rgb(140, 130, 115);
  background-color: #2b2a33;
  color: #e8e6e3;
  border-radius: 25px;
  padding: 1em;
}

#header span {
  width: 20vw;
}

#header #account {
  width: 25vw;
  align-items: center;
  justify-content: flex-end;
  display: inherit;
  gap: 1em;
}

#header #account .profilePic {
  height: 7vh;
  aspect-ratio: 1;
  border-radius: 15px;
  object-fit: cover;
}

#header #account button {
  padding: .5em 1em;
  background-color: #34495E;
  color: #fff;
  border-color: rgb(140, 130, 115);
}



#header #account input[type="checkbox"] {
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  top: 8rem;
  margin: 0;
  right: 0;
  width: 15vw;
  border: 5px solid #1E272E;
  border-top: none;
  padding: 0;
  z-index: 1;
}

.dropdown:checked~ul {
  display: block;
}

.dropdown-content {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  list-style: none;
}

.dropdown-content a {
  display: block;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

#account .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  gap: 1rem;
}

#account .account-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#account .loginButton {
  margin-right: 4rem;
}

#account .buttons .icons {
  height: 5vh;
}

#bars {
  display: block;
}

#cross {
  display: none;
}

.dropdown:checked+label #bars {
  display: none;
}

.dropdown:checked+label #cross {
  display: block;
}

.icons {
  height: 1.5em;
}


.big {
  height: 3rem;
}

.white {
  filter: invert(97%) sepia(97%) saturate(0%) hue-rotate(308deg) brightness(104%) contrast(104%);
}

.orange {
  filter: invert(83%) sepia(40%) saturate(7030%) hue-rotate(1deg) brightness(106%) contrast(106%)
}



@media screen and (max-width: 768px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 15rem;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }

  #header h1 {
    width: auto;
  }

  #header #account {
    width: 50vw;
    align-items: center;
    display: inherit;
    gap: 1em;
    align-self: end;
    position: absolute;
    height: 5rem;
    top: 0;
  }

  #header #account .profilePic {
    height: 5vh;
  }

  #account .buttons .icons {
    height: 3vh;
  }

  #header #account {
    width: 50vw;
    align-items: center;
    display: inherit;
    gap: 0.5rem;
    align-self: end;
    position: absolute;
    height: 5rem;
  }

  #header>a {
    text-decoration: none;
    display: flex;
    text-align: center;
    color: inherit;
    width: 50%;
    align-self: baseline;
    height: 5rem;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1rem;
    flex-direction: column;
  }

  #header input {
    width: 70%;
  }

  .dropdown {
    top: 15rem;
    width: 100vw;
    color: black;
  }

  a.dropdown-link {
    height: 2rem;
    display: flex;
    align-items: center;
  }

  #account .loginButton {
    margin-right: 1rem;
  }
}

.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.primary-button {
  background-color: #f5f5f5;
  color: #000;
}

.secondary-button {
  background-color: #f5f5f5;
  color: #000;
}

.icon-button {
  background-color: #f5f5f5;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button {
  background: none;
  width: 2rem;
  border: none;
  box-shadow: none;
  padding: 0;
}

.search-bar div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

a.genre {
  width: 50%;
  height: 100%;
}

.secondary-button {
  background-color: #f5f5f5;
  color: #000;
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 75%;
}