body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #2C3E50;
  color: #fff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  gap: 1em;
  display: flex;
  flex-direction: column;
  margin: 3em;
}

form p {
  text-align: left;
}

.input {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  margin: .3em;
}

img {
  height: 30vh;
  aspect-ratio: 1;
}