:root {
  --bg-image: url("");
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: var(--bg-image);
  background-size: cover;
  background-position: center 5rem;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  height: 100%;
  overflow-x: hidden;
}

.poster {
  max-width: 30vw;
  max-height: 35vh;
  left: 5%;
  top: 12%;

}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.film-details {
  background: rgb(50, 50, 50, 0.5);
  color: white;
  padding: 2rem;
  width: inherit;
}

.film-achat {
  padding: 2rem;
  background: rgba(50, 50, 50, 0.5);
  color: white;
  max-width: 12rem;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
input[type="month"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  width: 100vw;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5rem 0;
  gap: 1rem;
  background: #eee;
  border: 10px solid;
  border-radius: 50px;
  z-index: 2;
}

.block {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(5px);
  z-index: 1;
}

a.redirect {
  width: 40%;
  text-align: center;
}

.redirect button {
  width: 100%;
  padding: 1rem 0;
  background: #ffc800;
  border: none;
  border-radius: 15px;
}

.backdrop {
  width: 100%;
  height: 105%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: blur(3px);
  top: 0;
  left: 0;
}

.actor-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.actor-infos {
  width: min-content;
}

.actor-name {
  text-align: center;
}

.actor {
  width: 7rem;
  aspect-ratio: 2/3;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .film-details,
  .film-achat {
    max-width: 90%;
    width: 90%;
  }

  header h1 {
    font-size: 24px;
  }

  nav li {
    display: block;
    margin-bottom: 10px;
  }

  footer p {
    font-size: 12px;
  }

}